:root {
  --timer: 1s;
  --width: 50%;
}

body {
  padding: 0;
  margin: 0;
}


.page {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}


.color {
  flex: var(--width) 1 0;
  transition: background var(--timer);
}


.controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, .5);
  color: white;
}


.speed-range {
  display: flex;
  align-items: center;
}

.speed-range__label {
  font-size: 0.9em;
}

.speed-range__value {
  padding: 3px;
  font-size: 0.7em;
}